* {
	margin: 0px;
	padding: 0px;
}

body{
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

header {
	background-color: #000;
	width: 100%;
	position: fixed;
	/*height: 80px;*/
	/*padding: 10px;*/
}

.headerbar {
	padding: 15px;
	padding-bottom: 0px;
/*	position: relative;
	float: left;*/
}

.color {
	color: #fff;
	/*padding: 5px;*/
}

.nav {
	float: right;
	position: relative;
	bottom: 5px;

	/*top: 73px;*/

	color: #6F6F6F;

}



.webdev {
	text-decoration: none;
	color: #fff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.webdev:hover {
	cursor: pointer;
	background-color: #6F6F6F;
}

.webdev:active {
	background-color: #fff;
	color: #000;
}

/*.lefty {
	height: 100%;
	min-height: 2400px;
	width: 10px;
	float: left;
	background-color: #fff;
}*/

.container {
	background-color: #AB8787;
	/*width: 500px;
	height: 500px;
	margin:auto; */
}

/*#responses {
	position: relative;
	left: 10px;
}*/